*{box-sizing:border-box;}
body{margin:0px;
     padding:0px;
     background:#E9EBF8;
}
header{display:flex;
       width:100%;
       overflow:hidden;
       height:100px;
       position:sticky;
        top:0px;   
}
#header-img{
      width:150px;
      height:100px;}

#nav-bar{display:grid;
          width:100%;
          height:100px;
          grid-template-columns:repeat(3,auto);
          align-items:center;
          text-align:center;
          justify-content:end;
          background:#FFFFD6;      
}
.nav-link{padding:25px;
          text-decoration:none;
          color:black;
          font-height:bold;
          font-size:20px;
          text-shadow:0px 0px 1px;
          margin-right:25px;
}
.nav-link:hover{font-size:25px;transition:1s;}

#charcho{width:50%;
         height:auto;
         margin:auto;
}
#video{ width:100%;
        height:500px;      
}

.information{width:80%;
              height:auto;
              text-align:justify;
              margin:auto;
              padding:15px
              
}
.information p {font-family: "Times New Roman", Times, serif;
                column-count:3;            
}

#accessories{background:#B4B8C5;
            width:100%;
            height:auto;
            padding:25px;
            margin-top:65px;
}

#form{width:100%;
      height:auto;
      background:#A5A299;
      padding:25px;
      margin-top:65px;
      
}

@media screen and (max-width:900px){
  #header-img{width:100%;height:300px;}
  header{flex-direction: column;
      height:auto;
}
  #charcho{width:100%;
            margin:0px;
            padding:0px;
}
.information p {font-family: "Times New Roman", Times, serif;
                column-count:1;            
}
}

